/* Type whatever CSS you need here! */

/* renderMovies */
.whole-card {
    background-color: silver;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    border-radius: 5%;
    width: 360px;
}
.card-info {
    background-color: white;
    justify-content: flex-end;
    flex: 55;
    border-radius: 5%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.poster {
    justify-content: flex-end;
    flex: 45;
    height: 200px;
    padding-right: 5px;
}
.title {
    color: black;
    font-weight: bold;
    font: 18px;
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}
.year {
    display: flex;
    justify-content: flex-start;
    font: 10px;
    padding-left: 5px;
}
.in-card {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}




/* renderRestaurants */
.restBox {
    flex-direction: row;
    padding-right: 20px;
}
.restContainer {
    border-radius: 5%;
    width: 140px;
    height: 85px;
    background-color:silver;
    padding-left: 5px;
    margin-bottom: 20px;
}
.restName {
    text-align: start;
    font-size: 22px;
    font-weight: bold;
}
.restType {
    font-size: 12px;
    color: gray;
    text-align: start;
}
.restPrice {
    font-size: 20px;
    color: limegreen;
    text-align: start;
}



/* renderStudents */
.text-center {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px;
}
.student-names {
    font-size: 20px; 
    justify-content: start; 
    align-items: center; 
    flex: 1;
    text-align: center;
}
.student-attendance {
    font-size: 13px; 
    align-items: center; 
    flex: 1;
}
.student-container {
    background-color: lightgreen; 
    display: flex; 
    flex-direction: column;  
    width: 130px;
    border: solid thin gray;
    margin-bottom: 20px;
}

/* renderPokerCards */
.poker-cards {
    flex-direction: row;
}